.idea
.DS_Store
__pycache__/
*.pyc

bidaf/data/magnitude/*.magnitude
bidaf/data/squad/*dev*
bidaf/data/squad/*train*
bidaf/__pycache__
bidaf/saved_items

coqa-base/data/*.json
coqa-base/data/*.txt
coqa-base/wordvecs/*.txt

SDNet/coqa/data/*
SDNet/glove/*.json
SDNet/glove/*.txt
SDNet/coqa/bert-base-uncased/*.json
SDNet/coqa/bert-base-uncased/*.bin
SDNet/coqa/bert-large-uncased/*.bin
SDNet/coqa/bert-large-uncased/*.json
SDNet/coqa/spacy/spacy_intermediate_feature/*
SDNet/coqa/conf~/spacy_intermediate_feature~/*
SDNet/coqa/runs/*

deep-qa/*

HenNet/data/*
HenNet/embeddings/*
HenNet/train_logs/*
HenNet/saved_models/*


bidaf-coqa/saved_models/*
bidaf-coqa/model/data/*