.idea
.DS_Store
__pycache__/
*.pyc

bidaf/data/magnitude/*.magnitude
bidaf/data/squad/*dev*
bidaf/data/squad/*train*
bidaf/__pycache__
bidaf/saved_items

coqa-base/data/*.json
coqa-base/data/*.txt
coqa-base/wordvecs/*.txt